option_settings:
  - namespace: aws:autoscaling:launchconfiguration
    option_name: EC2KeyName
    value:
    
  - namespace: aws:ec2:vpc
    option_name: VPCId
    value:
    
  - namespace: aws:ec2:vpc
    option_name: Subnets
    value:
    
  - namespace: aws:ec2:vpc
    option_name: ELBSubnets
    value:
    
  - namespace: aws:ec2:vpc
    option_name: DBSubnets
    value:
    
  - namespace: aws:autoscaling:launchconfiguration
    option_name: InstanceType
    value: t2.micro
    
  - namespace: aws:autoscaling:launchconfiguration
    option_name: SecurityGroups
    value: