option_settings:

  - namespace: aws:autoscaling:launchconfiguration
    option_name: EC2KeyName
    value: <ec2-keypair-name>
    
  - namespace: aws:ec2:vpc
    option_name: VPCId
    value: <vpc-id>
    
  - namespace: aws:ec2:vpc
    option_name: Subnetss
    value: <list-subnets-private>
    
  - namespace: aws:ec2:vpc
    option_name: ELBSubnets
    value: <list-subnets-public>
    
  - namespace: aws:ec2:vpc
    option_name: DBSubnets
    value: <rds-security-group-id>

  - namespace: aws:autoscaling:launchconfiguration
    option_name: SecurityGroups
    value: <security-group-id>

  - namespace: aws:elb:policies
    option_name: ConnectionSettingIdleTimeout
    value: 300