option_settings:

  - namespace: aws:elasticbeanstalk:application:environment
    option_name: TZ
    value: "America/Los_Angeles"

files:

  "/tmp/set_timezone.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/bin/bash
      NEWTIMEZONE="$(/opt/elasticbeanstalk/bin/get-config environment -k TZ)"
      if [ -z $NEWTIMEZONE ] ; then
          echo "TZ" environment property not set
          exit 1
      fi
      if [ ! -f /usr/share/zoneinfo/$NEWTIMEZONE ] ; then
          echo /usr/share/zoneinfo/$NEWTIMEZONE does not exist
          exit 1
      fi
      echo 'ZONE="'$NEWTIMEZONE'"' > /etc/sysconfig/clock
      echo 'UTC=true' >> /etc/sysconfig/clock
      ln -f -s /usr/share/zoneinfo/$NEWTIMEZONE /etc/localtime
      ntpdate -u pool.ntp.org

commands:

  00-custom-timezone:
    command: /tmp/set_timezone.sh